body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  height: 100%;
  width: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.default-style{
color: white;
font-size: 2.5em;


}
.active-style{
  color: blue;
}
li{
  list-style-type: none;
  display: flex;
  padding-left:10px;
  padding-right:10px;
  
  
}
.links{
  
  display: flex;
  margin-left: 490px;
  
}
.for{
  display: flex;
  justify-content: center;
}